@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	font-family: 'Outfit', sans-serif;
}

.container {
	@apply mx-auto;
}

.active-page {
	@apply text-primary;
}

.icon {
	@apply p-2 duration-150 border rounded-full cursor-pointer border-primary text-primary fill-primary hover:bg-primary hover:fill-white;
}

.slide {
	position: absolute;
	width: 100%;
	transition: all 700ms ease-in-out;
	@apply flex h-full overflow-x-hidden;
}

.slider-btn {
	@apply absolute p-2 px-3 rounded-full hover:bg-primary hover:text-white duration-150 top-[90%] lg:top-[50%] bg-[#FFF4ED] text-primary z-[100];
	overflow: visible;
}

.btn-left {
	@apply lg:left-[0%] left-[5%];
}
.btn-right {
	@apply lg:right-[0%] right-[67%];
}
